{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dodaj salę</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>

<h1>Dodaj salę</h1>
<!-- Menu -->
<div class="menu">
    <button class="btn"><a href="/room" class="menu">Wróć</a></button>
</div>
<br>

<!-- Errors -->
<div class="warning">
    {% if exists %}Sala o nazwie {{ exists.name }} już istnieje.{% endif %}
</div>
<div class="warning">
    {% if error_wrong_name %}{{ error_wrong_name }}{% endif %}
</div>
<div class="warning">
    {% if error_negative_number %}{{ error_negative_number }}{% endif %}
</div>

<!-- Created a new room -->
<div class="done">
    {% if done == True %}Pomyślnie utworzono nową salę. Możesz teraz przejść na
        <a href="/room" class="good">stronę główną</a>. {% endif %}
</div>
<br><br>

<!-- FORM Creating a new room -->
<div id="form">
    <form method="POST">
        {% csrf_token %}
        <div>Nazwa sali: <input type="text" name="room_name" required></div>
        <br>
        <div>Liczba miejsc: <input type="number" name="room_capacity" min="5" max="200" required></div>
        <br>
        <div>Rzutnik:
            <input type="radio" name="room_projector" value="yes">tak
            <input type="radio" name="room_projector" value="no">nie
        </div>
        <br>
        <div><input type="submit" value="Dodaj salę"></div>
    </form>
</div>
<br><br>

<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">Paweł Zwoliński &copy;</span>
    </div>
</footer>
</body>
</html>