{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usuń salę</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>

<h1>Usuń salę</h1>

<!-- Menu -->


{% if method == 'GET' %}
    <div class="menu">
        <button class="btn"><a href="/room/details/{{ room_id.id }}" class="menu">Wróć</a></button>
    </div>
    <br>
    <h3>Czy na pewno chcesz usunąć salę {{ room_id.name }}?</h3>

    <!-- FORM -->
    <form class="deletion" method="POST">
        {% csrf_token %}
        &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
        <input type="submit" value="Tak" name="yes" class="yes">
    </form>
{% endif %}

{% if method == 'POST' %}
    <div class="menu">
        <button class="btn"><a href="/room" class="menu">Wróć</a></button>
    </div>
    <br>
    <p class="ex"> Sala {{ ex.room.name }} została usunięta.</p>
{% endif %}

<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">Paweł Zwoliński &copy;</span>
    </div>
</footer>
</body>
</html>