{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informacje o sali</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>

<h1>Dodaj salę</h1>

<!-- Menu -->
<div class="main_menu">
    <button class="btn"><a href="/room" class="menu">Widok sal</a></button>
    <button class="btn"><a href="/room/new" class="menu">Dodaj salę</a></button>
</div>
<br>

<!-- Rooms list -->
<h3>Informacje o sali</h3>
<div class="details_view">
    <b>Nazwa:</b> {{ room_id.name }}<br>
    <b>Pojemność:</b> {{ room_id.capacity }}<br>
    <b>Projektor:</b> {{ room_id.projector | yesno:"Tak, Nie" }}<br>
    <b>Dostępna:</b> {{ room_id.availability | yesno:"Tak, Nie" }}
</div>
<br><br>

<!-- Editing menu -->
<div class="edits">
    {% if room_id.availability == True %}
        <button class="btn"><a href="/room/reserve/{{ room_id.id }}" class="menu">Zarezerwuj salę</a>
        </button>{% endif %}
    <button class="btn"><a href="/room/delete/{{ room_id.id }}" class="menu">Usuń salę</a></button>
    <button class="btn"><a href="/room/modify/{{ room_id.id }}" class="menu">Modyfikuj salę</a></button>
</div>
<br><br>

<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">Paweł Zwoliński &copy;</span>
    </div>
</footer>
</body>
</html>