{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edytuj informacje o sali</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>

<h1>Edytuj salę</h1>

<!-- Menu -->
<div class="menu">
    <button class="btn"><a href="/room" class="menu">Widok sal</a></button>
    <button class="btn"><a href="/room/details/{{ room_id.id }}" class="menu">Wróć</a></button>
</div>
<br>

<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">Paweł Zwoliński &copy;</span>
    </div>
</footer>
</body>
</html>