<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informacje o sali</title>
    {#    <link rel="stylesheet" href="main.css">#}
    <style>
        .btn {
            margin: 5px;
            padding: 15px 20px;
            color: #fff;
            text-shadow: none;
            cursor: pointer;
            border: 0;
            font-weight: bold;
            display: inline-block;
            background: gainsboro;
        }

        a.menu {
            color: black;
        }

        a.good {
            color: green;
        }
    </style>
</head>

<body>
<h1>Dodaj salę</h1>

<div class="menu">
    <button class="btn"><a href="/room" class="menu">Widok sal</a></button>
    <button class="btn"><a href="/room/new" class="menu">Dodaj salę</a></button>
    <button class="btn"><a href="/room/delete" class="menu">Usuń salę</a></button>
    <button class="btn"><a href="/room/modify" class="menu">Modyfikuj salę</a></button>
</div>

<br><br>
<h3>Informacje o sali {{ room.id.name }}</h3>
<div class="details_view">
    Pojemność: {{ room.id.capacity }}<br>
    Projektor: {{ room.id.projector | yesno:"Tak, Nie" }}
</div>

<br><br>
<div class="footer">
    <footer>By Paweł Zwoliński &copy;</footer>
</div>

</body>
</html>